.product--container { 
    padding-top: 72px;
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    max-height: 100vh;

}
.images--container {
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}
.images--container--blur {
    height: 311px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    z-index: -5;
}
.mini--image {
    cursor: pointer;
    width: 70px;
    height: 80px;
}
.description--container{
    max-height: 311px;
    display: flex;
    flex-direction: row;
    gap: 15%;
}
.description--container--blur {
    max-height: 311px;
    display: flex;
    flex-direction: row;
    gap: 15%;
    z-index: -4;
}
.main--image {
    height: 511px;
}
.product--info--card {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 13%;
}
.product--title  {
    font-size: 30px;
    font-weight: 600;
    
}
.product--subtitle{ 
    font-size: 30px;    
    font-weight: 300;
}
.choice--container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15%;
}
.container--subtitle {
    font-size: 18px;
    font-weight: 700;
}
.choices--container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
}
.choice--btn {
    background: none;
    width: 83px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #1D1F22;
}
.choice--btn:hover{
    background-color: black;
    color: white;
}
.product--price {
    font-size: 24px;
    font-weight: 700;
}
.cart--add {
    min-height: 52px;
    width: 292px;
    background-color: #5ECE7B;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway';
    border: none;
    cursor: pointer;
}