.product--container { 
    width: 80%;
    padding-top: 72px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
    max-height: 100vh;

}
.images--container {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
}
.images--container--blur {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    z-index: -5;
}
.mini--image {
    cursor: pointer;
    width: 70px;
    height: 80px;
    z-index: 2;
}
.description--container{
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.description--container--blur {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 15%;
    z-index: -4;
}
.main--image {
    width: 610px;
    object-fit: contain;
    height: 511px;
    z-index: -4;
}
.product--info--card {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 8%;
}
.product--title  {
    font-size: 30px;
    font-weight: 600;
}
.product--subtitle{ 
    font-size: 30px;    
    font-weight: 300;
}
.choice--container {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2%;
}
.container--subtitle {
    font-size: 18px;
    font-weight: 700;
}
.choices--container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 5%;
}
.choice--btn {
    width: 63px;
    height: 45px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #1D1F22;
}
.choice--btn:hover{
    background-color: black;
    color: white;
}
.choice--btn-active {
    width: 63px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    background-color: black;
    color: white;
}

.product--price {
    font-size: 24px;
    font-weight: 700;
}
.cart--add {
    height: 52px;
    width: 292px;
    background-color: #5ECE7B;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Raleway';
    border: none;
    cursor: pointer;
}
.color--btn {
    width: 32px;
    height: 32px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
    cursor: pointer;
    border: none;
}
.color--btn-active {
    width: 32px;
    height: 32px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-family: 'Raleway';
    cursor: pointer;
    border: none;
    outline: 1px solid rgba(94, 206, 123, 1);
    outline-offset: .2em;

}
.color--btn-small-active {
    width: 16px;
    height: 16px;
    background: none;
    cursor: pointer;
    border: none;
    outline: 1px solid rgba(94, 206, 123, 1);
    outline-offset: .2em;
}
.color--btn-small{
    width: 16px;
    height: 16px;
    background: none;
    cursor: pointer;
    border: none;

}
.choice--btn-small {
    width: 24px;
    height: 24px;
    background: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #1D1F22;
}
.choice--btn-small-active {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    background-color: black;
    color: white;

}
@media(width<800px){
    .product--container {
        flex-direction: column;
    }
    .images--container--blur {
        max-width: 100%;
        flex-direction: row;

    }
    .images--container{
        max-width: 100%;
        flex-direction: row;
        gap: 5%;
    }
    .mini--image {
        cursor: pointer;
        width: 50px;
        height: 70px;
        z-index: 2;
    }
}