.nav{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-opacity: 0.1;
}
.nav--heading {
    padding-left: 32px;
    font-size: 28px;
    font-weight: 400;
    line-height: 36.23px;
    text-transform: uppercase;
    align-items: center;
    cursor: pointer;
}
.nav--list {
    height: 100%;
    width: 218px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    list-style-type: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding-right: 32px;
    color: #1D1F22;
}
.nav--actions {
    display: flex;
    width: 204px;
    justify-content: flex-end;
    gap: 10%;
}
.currencie-picker {
    width: 10%;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 30%;
}
.currency--tag {
    font-weight: 500;
    font-size: 18px;
    color: #1D1F22;
}
.dropdown--icon {
    padding-top: 5px;
}
.nav--item {
    height: 80px;
    background: none;
    color: #1D1F22;
    text-align: left;
    border: none;   
    cursor: pointer;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: 400;
}
