.items--container {
    margin-top: 80px;
    width: 90%;
    height: 1400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
}
.category--heading {
    font-size: 42px;
    font-weight: 400;
    line-height: 67.2px;
}
.category--items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
}
.product--card {
    margin-top: 87px;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;    
    width: 386px;
    height: 444px;
    z-index: 20;
}
.product--card--blurred {
    margin-top: 87px;
    position: relative;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    gap: 4%;
    width: 386px;
    height: 444px;
}
.product--card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product--card:hover .addto--cart {
    display: inline-block;
}
.product--image {
    position: absolute;
    margin-top: 20px;
    width: 90%;
    height: 330px;
    object-fit: contain;
    z-index: -2;
}
.hidden--cart {
    display: none;
}
.card--subcontainer {
    position: absolute;
    top: 82%;
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    z-index: -1;
}
.item--span {
    font-size: 18px;
    font-weight: 300;
}
.item--price{
    font-size: 18px;
    font-weight: 500;
}
.addto--cart {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 71%;
    right: 10%;
}

.in--stock {
    display: none;
}
.out--stock {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    font-size: 24px;
    font-weight: 400;
    opacity: 50%;
    z-index: 2;
}