.items--container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10%;
}
.category--heading {
    font-size: 42px;
    font-weight: 400;
    line-height: 67.2px;
}
.category--items {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10%;
}
.product--card {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 4%;
    align-items: center;    
    width: 386px;
    height: 444px;
}
.product--card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.product--card:hover .addto--cart {
    display: inline-block;
}
.product--image {
    margin-top: 20px;
    width: 354px;
    height: 330px;
}
.card--subcontainer {
    width: 92%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-item: flex-start;
}
.item--span {
    font-size: 18px;
    font-weight: 300;
}
.item--price{
    font-size: 18px;
    font-weight: 500;
}
.addto--cart {
    display: none;
    position: absolute;
    cursor: pointer;
    top: 71%;
    right: 10%;
}
