.cart--card {
    top: 7%;
    right: 3%;
    width: 325px;
    z-index: 555;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #1D1F22;
}
.cart--card--hide {
    display: none;
}
.cart--card--heading {
    font-size: 16px;
    font-weight: 700;
}
.cart--span {
    font-size: 16px;
    font-weight: 500;
}
.cart--component--actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewcart--btn {
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 600;
    color: #1D1F22;
    font-size: 14px;
    border: 1px solid #1D1F22;
}
.checkout--btn {
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    background-color: #5ECE7B;
    border: none;
    color: #FFFFFF;
}
.card--products {
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 5%;
    overflow-y: auto;
}
.cart--product--card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card--product--heading {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}
.product--card--description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10%;
    align-items: flex-start;
}
.card--product--price {
    font-size: 16px;
    font-weight: 500;
}
.choice--btn--cart {
    background: none;
    width: 28px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-family: 'Raleway';
    font-weight: 400;
    cursor: pointer;
    border: 1px solid #1D1F22;
}
.product--card--actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 3%;
}
.cart--quantity--btn {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}
.card--item--image {
    width: 121px;
    height: 191px;
}
.card--quantity--actions {
    height: 190px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}