.cart--heading {
    font-size: 32px;
    font-weight: 700;
}
.cart--item {
    padding-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cart--item--description {
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.cart--item--image {
    object-fit: contain;
    width: 200px;
    height: 280px;
}
.cart--item--gallery{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;   
}
.cart--quantity--actions {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.quantity--btn {
    width: 45px;
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    font-size: 50px;
    font-weight: 300;
    cursor: pointer;
}
.cart--item--quantity {
    font-size: 24px;
    font-weight: 500;
    
}
.payments--heading {
    font-size: 24px;
    font-weight: 400;
}
.arrows--container {
    position: absolute;
    top: 85%;
    right: 0%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60px;
}
.arrow--container {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.73);
    cursor: pointer;
}
.arrow-rotated {
    transform: rotate(180deg);
}