*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway';
}
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

.App--blurred {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
  background-color: rgba(57, 55, 72, 0.22);
  z-index: 9999;
}

button {
  cursor: pointer;
}
