*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway';
}
.App {
  height: 1513px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 8%;
}

