*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Raleway';
}
.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10%;
}

button {
  cursor: pointer;
}