.cart--card {
    max-height: 677px;  
    top: 8%;
    right: 8%;
    width: 325px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 1);
    color: #1D1F22;
    padding: 16px;
}
.cart--card--hide {
    display: none;
}
.cart--card--heading {
    font-size: 16px;
    font-weight: 700;
}
.cart--span {
    font-size: 16px;
    font-weight: 500;
}
.cart--component--actions {
    padding-top: 41px;  
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.viewcart--btn {
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 600;
    color: #1D1F22;
    font-size: 14px;
    border: 1px solid #1D1F22;
    background: none;
}
.viewcart--btn:hover{
    background-color: rgba(57, 55, 72, 0.11);
}
.checkout--btn {
    width: 140px;
    height: 43px;
    text-transform: uppercase;
    font-family: 'Raleway';
    font-weight: 600;
    font-size: 14px;
    background-color: #5ECE7B;
    border: none;
    color: #FFFFFF;
}
.card--products {
    height: 420px;
    display: flex;
    flex-direction: column;
    gap: 10%;
    overflow-y: auto;
    overflow-x: hidden;
}
.cart--product--card {
    height: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card--product--heading {
    text-align: left;
    font-size: 16px;
    font-weight: 300;
}
.product--card--description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    max-height: 100%;
}
.card--product--price {
    font-size: 16px;
    font-weight: 500;
}
.product--card--actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3%;
}
.cart--quantity--btn {
    width: 24px;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: none;
    font-size: 30px;
    font-weight: 300;
    cursor: pointer;
}
.card--item--image {
    width: 121px;
    object-fit: contain;
    height: 201px;
}
.card--quantity--actions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.total--card {
    padding-top: 41px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container--subtitle-small {
    font-size: 14px;
    font-weight: 400;
    color: rgba(29, 31, 34, 1);
}